<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message from <%= user.user %></title>
  </head>
  <body>
    <ul>
      <li>User: <%= user.user %></li>
      <li>Text: <%= user.text %></li>
      <li>Date: <%= user.added %></li>
    </ul>

    <a href="/">Return to the homepage</a>
  </body>
</html>
