<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <form action="/new" method="post">
      <input
        type="text"
        name="messageText"
        id="messageInput"
        placeholder="Message"
      />
      <input
        type="text"
        name="messageUser"
        id="messageUser"
        placeholder="User"
      />
      <button>Send</button>
    </form>
  </body>
</html>
